.advantages {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @font-color1;
  background-color: white;
  text-transform: uppercase;
  outline: 2px solid yellow;
}

.advantages__list {
  .clear-list;
}

.advantages__header {
  padding: 43px 32px 29px 10px;
  text-align: center;
}

.advantages__slogan {
  .header;
  color: @font-color3;
}

.advantages__intro {
  line-height: 26px;
}

.advantages__wrapper-text--big {
  padding: 33px 17px 32px;
}

.advantages__wrapper-text--small {
  padding: 33px 17px 32px;
  border-top: 2px solid grey;
}

.advantages__title {
  .header;
}

.advantages__item {
  padding: 30px 20px;
  text-align: center;
  background-color: @background-color3;
}

.advantages__item--big {
  background-color: @background-color2;
  color: white;
}

// .advantages__item:first-child {
//   padding-top: 80px;
//   background-image: url("../img/bg-triangle.svg");
//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-position: 0 -1px;
// }

.advantages__subitem {
  padding-right: 40px;
  padding-left: 70px;
  margin-top: 26px;
}

.advantages__subitem--hotel {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 36px 37px;
}

.advantages__subitem--souvenir {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
}

.advantages__subitem--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 35px;
}

.advantages__sublist {
  .clear-list;
  padding-left: 20px;
}

.advantages__subtitle {
  .header;
  color: @font-color3;
}
