.advantages {
  outline: 2px solid yellow;
}

.advantages__list {
  .clear-list;
}

.advantages__header {
  padding: 43px 32px 29px 10px;
  text-align: center;
}

.advantages__slogan {
  .font2(@font-color3);
}

.advantages__intro {
  line-height: 26px;
}

.advantages__item--big {
  display: flex;
  flex-direction: column;
}

.advantages__wrapper-text--big {
  padding: 33px 17px 32px;
  background-color: @background-color2;
}

.advantages__wrapper-text--small {
  padding: 33px 17px 32px;
  border-top: 2px solid grey;
}

.advantages__title {
  .font2(@font-color2);
}

.advantages__number,
.advantages__description {
  color: @font-color2;
}

.advantages__item {
  text-align: center;
  // background-color: @background-color3;
}


.advantages__subitem {
  padding-right: 40px;
  padding-left: 70px;
  margin-top: 26px;
}

.advantages__subitem--hotel {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 36px 37px;
}

.advantages__subitem--souvenir {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
}

.advantages__subitem--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 35px;
}

.advantages__sublist {
  .clear-list;
  padding-left: 20px;
}

.advantages__subtitle {
  .font2(@font-color3);
}

@media (min-width: @tablet-width) {
  .advantages__item--big {
    flex-direction: row;
  }

  .advantages__wrapper-text--big {
    width: 256px;
  }

  .advantages__title {
    .font5(@font-color2);
  }
}


// @media (min-width: @desktop-width) {
//   body {
//     // background-color: blue;
//     background: @bg-darkgrey url("../img/sedona-index-desktop.jpg") no-repeat 50% 0;
//     background-size: 1280px auto;
//   }
// }
