.advantages{
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: white;
  text-transform: uppercase;
  outline: 1px solid green;
}
.advantages__slogan{
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}
.advantages__intro{
  line-height: 26px;
}
.advantages__title{ //как slogan subtitle
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
}
.advantages__item{

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eeeeee;
}
.advantages__item--big{
  background-color: #81b3d2;
  color: white;
}
.advantages__subitem{
  padding-right: 40px;
  padding-left: 70px;
  margin-top: 26px;
}
.advantages__subitem--hotel{
background-image: url("../img/icon-house.svg");
background-repeat: no-repeat;
background-size: 36px 37px;
}
.advantages__subitem--souvenir{
background-image: url("../img/icon-gift.svg");
background-repeat: no-repeat;
background-size: 32px 38px;
}
.advantages__subitem--food{
background-image: url("../img/icon-burger.svg");
background-repeat: no-repeat;
background-size: 40px 35px;
}

.advantages__subtitle{
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}
