.contacts {
  padding: 18px 20px 18px 20px;
  .font2(@font-color3);
}

.contacts__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.contacts__text {
  display: block;
  padding-left: 22px;
  .font3(@font-color1);
}

.contacts__input {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  height: 58px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 12px;
  padding: 3px 0 0 21px;
  .font2(@font-color3);
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  background-position: right 20px center, right;
}

.contacts__input--phone {
  background-image: url("../img/icon-phone.svg"),
    linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.contacts__input--email {
  background-image: url("../img/icon-mail.svg"),
    linear-gradient(to left, #e6e6e6 58px, transparent 58px);
}

.contacts__input:hover {
  background-color: #e5e5e5;
}

.contacts__input:focus,
.contacts__input:active {
  background-color: white;
  outline: none;
  box-shadow: inset 0 0 0 4px rgba(154, 154, 154, 0.52);
}

@media (min-width: @tablet-width) {
  .contacts {
    box-sizing: border-box;
    width: 100%;
  }
}
