.gallery {
  outline: 2px solid yellow;
}

.gallery__header {
  padding: 20px;
  text-align: center;
}

.gallery__slogan {
  .header;
  color: @font-color3;
}

.gallery__title {
  font-size: 14px;
  font-weight: 800;
  color: @font-color3;
}

.gallery__list {
  .clear-list;
}

.gallery__item {
  padding: 23px 20px 20px;
}

.gallery__autor,
.gallery__autor-name {
  display: inline;
  font: inherit;
}

.gallery-likes {
  padding-left: 30px;
  font-weight: 800;
  color: @font-color3;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
}
