.gallery {
  outline: 2px solid yellow;
}

.gallery__header {
  padding: 18px 20px 7px;
  text-align: center;
  white-space: pre-line;
}

.gallery__slogan {
  display: block;
  margin-bottom: 5px;
  .font2(@font-color3);
}

.gallery__intro {
  margin: 0;
  .font6(400, @font-color1);
}

.gallery__list {
  .clear-list;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  padding: 22px 20px 17px 20px;
  border-top: 1px solid gray;
}

.gallery__image {
  width: 280px;
  height: 280px;
}

.gallery__title {
  margin: 0;
  margin-top: 11px;
  .font6(800, @font-color3);
}

.gallery__autor,
.gallery__autor-name {
  display: inline;
  .font6(400, @font-color1);
  text-transform: none;
  font-style: normal;
}

.gallery-likes {
  padding-left: 37px;
  padding-top: 8px;
  .font6(800, @font-color3);
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position-y: 7px;
}

@media (min-width: @tablet-width) {
  .gallery__item--first {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__item--first {
    width: @desktop-width;
  }
}
