.impression {
  padding: 18px 24px 32px 24px;
}

.impression__list {
  .clear-list;
}

.impression__title {
  margin: 0 auto;
  margin-bottom: 37px;
  .font2(@font-color3);
}

.impression__text {
  display: block;
  position: relative;
  min-height: 69px;
  padding-left: 74px;
  .font2(@font-color3);
  text-transform: none;
}

.impression__input-radio + .impression__text::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -13px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.impression__input-radio:checked + .impression__text::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 14px;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border-radius: 50%;
}
