.review {
  margin-bottom: 37px;
}

.review__header {
  padding: 38px 20px 5px 20px;
  text-align: center;
}

.review__slogan {
  .font2(@font-color3);
}

.review__intro {
  .font6(400,@font-color1);
  margin: 26px 0 14px 0;
}

.review__item {
  border-top: 1px solid gray;
}

.review__button {
  display: block;
  margin: 0 auto;
  min-width: 279px;
}

.review__form {
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .review__form {
    display: flex;
    flex-wrap: wrap;
  }
}
