.site-list{ //////////////////////////////ul
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.site-list__item{
  background-color: @background-color2;
}
.site-list__link{
  color: @font-color2;
  text-decoration: none;
}
